@charset "utf-8";

.detail-title {padding:20px 0px 0px 0px;font-size: 20px;margin-top: 0px;text-align: left;}
.detail-tag{ overflow:hidden; zoom:1; padding-top:10px; }
.detail-tag div{ width:640px; float:right;}
.detail-tag a{ padding:0px 7px; background:#e6e9ed; color:#7b7d7f; float:left; margin-right:6px; margin-bottom:6px; text-decoration:none; border:1px solid #e6e9ed;}

.new-answer-list ul{ margin:0px; padding:15px 0px; font-size:14px;}
.new-answer-list ul li{background:url(../images/list-icon.png) no-repeat 13px 13px; list-style:none; margin:0px; padding:7px 5px 7px 25px; word-wrap: break-word;word-break: break-word;}
.new-answer-list ul li a{ color:#535353; text-decoration:none; line-height:16px;}

.new-answer-list ul li a.ft-org{ color:#FF8027}

.comment-list,.detail-tag,.quote-list{ font-size:12px;color:#666666; line-height:21px;word-break: break-all;}
.comment-list ul,.quote-list ul{ padding:0px; margin:0px;}
.comment-list ul li{list-style:none; padding:10px 0px; overflow:hidden; _overflow:visible; zoom:1; word-wrap:break-word; word-break: break-word;  border-bottom:1px dashed #dfdfdf;}
.comment-list ul li p{ margin-top:5px; margin-bottom:5px;}

.user-msg{ padding-bottom:10px;overflow:hidden; zoom:1;color: #ddd}
.user-msg .user-pic{ border:1px solid #ddd; float:left; display:block; width:50px; height:50px; padding:4px 0px 0px 4px; text-decoration:none; margin-right:10px;}
.user-msg .user-pic img{ border:0px; width:45px; height:45px;}
.user-msg .msg-content{ float:left; overflow:hidden; font-size:12px; max-width:920px;}
.user-msg .msg-content h2{ margin:0px; padding:3px 0 8px; font-weight:normal; font-size:12px; color:#666666;}
.user-msg .msg-content h2.ft-14{ font-size:14px;}
.user-msg .msg-content h2 strong{ font-size:14px;}
.user-msg .msg-content h2 a{text-decoration:none;}
.user-msg .msg-content p{ color:#999999; padding:2px 0px; margin:0px;}

.dashed-border-box{border-top: 1px dashed #939393;padding: 10px 0}
#wypl{border-top: 1px solid #ddd; padding-top: 5px}

.detail .detail-content {
    word-break:break-all;
    padding-top: 5px;
    overflow-x: hidden;
}

.line-y{
	border-bottom: 1px solid #FF8027;
	line-height: 30px;
	}
.line-g{
	border-bottom: 1px solid #D6D6D6;
	line-height: 30px;
	}
.line-g-d{
	border-bottom: 1px dashed #939393;
	line-height: 30px;
}
.line-height-20{line-height:20px;}
.fcg{
	color:#666666;
	text-decoration:none;
	}
.clear{
	clear:both;
	}
.mt-30{margin-top:30px;}
.-ml-20{
	margin-left:-20px;
	}
.form-horizontal .controls {
	margin-left: 70px;
}
.form-horizontal .control-label {
	padding-left: 5px;
	text-align: left;
	width: 50px;
}
.fr{float:right}


a,a:hover{text-decoration: none;}
.ico_reply{
	background:url(../images/reply_ico_new.png) no-repeat;
	height:16px;
	width:16px;
	padding-left:22px;
}
.ico_read{
	background:url(../images/read_ico_new.png) no-repeat;
	height:16px;
	width:16px;
	padding-left:22px;
}

.ico_good{
	background:url(../images/good_ico_new.png) no-repeat;
	height:16px;
	width:16px;
	padding-left:22px;
	}
	
/*编辑器*/
textarea {
	resize: none;
	margin-bottom:0
}
.preview-box .wmd-panel {
	max-height: 478px;
	overflow: auto;
}
 .preview-box {
	border: 1px solid #CCCCCC;
	border-radius: 3px 3px 3px 3px;
	height: 514px;
	margin-left: 0;
	padding: 5px;
}


/*详细 */
.main-left {margin: 0}
.detail-title {padding:20px 0px 0px 0px;font-size: 20px;margin-top: 0px;text-align: left;}
.detail-tags{
	margin-bottom: 6px;
	text-decoration: none;
	height:30px;
	}

.answer-right-list ul{ margin:0px; padding:15px 0px; font-size:14px;  }
.answer-right-list ul li{background:url(../images/list-icon.png) no-repeat 13px 13px; list-style:none; margin:0px; padding:7px 5px 7px 25px; word-wrap: break-word;word-break: break-word;}
.answer-right-list ul li a{ color:#535353; text-decoration:none; line-height:16px;}

.answer-right-list ul li a.ft-org{ color:#FF8027}

.dashed-border-box{border-top: 1px dashed #e6e9ed;padding: 5px 0}
/*评论赞--start*/
.comment-list{
	color: #666666;
	font-size: 12px;
	line-height: 21px;
}
.comment-list .user-pic{
	border: 1px solid #DDDDDD;
	display: block;
	float: left;
	height: 30px;
	margin-right: 10px;
	padding: 4px 0 0 4px;
	text-decoration: none;
	width: 30px;
}
.comment-list ul,.quote-list ul{ padding:0px; margin:0px;}
.comment-list ul li{list-style:none; padding:10px 0px; overflow:hidden; _overflow:visible; zoom:1; word-wrap:break-word; word-break: break-word;  border-bottom:1px dashed #dfdfdf;}
.comment-list ul li p{ margin-top:5px; margin-bottom:5px;}

.comment-list ul li a{ color:#005580}
.comment-list ul li a.ft-org{ color:#ff8027;}
.comment-list .user-pic,.quote-list .user-pic{ display:block; line-height:0px; font-size:0px; float:left; padding:4px; border:1px solid #ddd;}
.comment-list .com-list-content{width:99%; float:right;}
.comment-list .com-list-content a.right{float:right; cursor:pointer;}
.comment-list .com-list-content a.right:hover ul{ display:block;}
.comment-list .com-list-content a.right ul{ z-index: 9999; position:absolute; display:none; width:50px; border:1px solid #005580; background:#fff;margin-left:-40px; margin-top:-2px}
.comment-list .com-list-content a.right ul li{text-align:center; padding:3px 0;line-height: 15px}
.comment-list .com-list-content a.right ul li:hover{background:#005580; color:#fff}
.comment-list .com-list-content div.hfbox{ width:100%;}
.comment-list .com-list-content div.hfbox textarea{ width:97%; height:60px; }
.comment-list .com-list-content div.hfbox input{ float:right; margin-right:10px; margin-top:5px;}
.comment-list .com-list-content div.more a{ color:#005580; float:right; cursor:pointer}
.comment-list a{ text-decoration:none; color:#666666;}

.recom {border-top: 1px dashed #DDDDDD;padding-top: 10px;margin-top: 5px}
/*.bottom-title {position:absolute; height:30px; bottom:0;}
/*end*/
/*列表 */
.list_bottom_line{border-bottom: 1px dashed #DDDDDD;}
.title-ico {float:left;background:#ffd6a2;padding:6px 0 0 0;color:#6e4432; width:60px;height:48px}
.title-ico .num{font-size:24px;}
.class-selected,.class-tag{   font-size:12px; overflow:hidden; zoom:1; padding:10px 0px 0px;}
.class-tag{ padding:0px !important; line-height:20px;}
.class-tag .fr{ min-width:480px; max-width:805px; overflow:hidden; zoom:1; _width:480px;}
.class-selected a{ float:left;  margin:3px;}


/*.class-selected a.current,.class-selected a:hover,.tags li .current,.tags li a:hover{ background-color: #75845C}*/

.tags li{line-height: 24px}

/*创建 */

.gray-bg-title {
	background: none repeat scroll 0 0 #E9ECEE;
	color: #535353;
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0;
	padding: 8px 0 8px 10px;
}
.anwser-icon {
	background-position: -42px 3px;
	padding: 7px 12px;
	background-image: url("../images/pubic-bg.png");
}
.border-box{ border:1px solid #dddddd;}
.bg-title{ border-bottom:1px solid #ddd; font-size:14px; height:34px; line-height:34px; background:url(../images/title-bg.jpg) repeat-x left bottom; padding-left:10px; color:#000; font-weight:bold; margin:0px;}
.blog-list{ padding:8px 10px; margin:0px;}
.blog-list li{ list-style:none; padding:1px 0px; border-bottom:1px solid #e9e9e9; margin-bottom:5px; word-wrap:break-word; word-break: break-word;}
.blog-list li .content{ background-image:url(../images/list-icon.png); background-repeat:no-repeat; background-position:8px 17px; padding:10px 0px 10px 18px}
.blog-list li .close-span{ display:none; float:right; width:18px; height:18px; background-position:left -151px; cursor:pointer; margin:-5px 6px 0 0;}
.blog-list li .content a{ color:#535353; text-decoration:none; font-size:13px;}
.blog-list li .content em{ color:#999999; font-style:normal; font-size:12px; line-height:27px}
.blog-list li:hover .content,.blog-list li.hover .content{ background-color:#E9ECEE}
.blog-list li:hover .close-span,.blog-list li.hover .close-span{ display:block;}
.bg-title{ border-bottom:1px solid #ddd; font-size:14px; height:34px; line-height:34px; background:url(../images/title-bg.jpg) repeat-x left bottom; padding-left:10px; color:#000; font-weight:bold; margin:0px;}

.tabs-left .nav-tabs > li > a, .new .tabs-right .nav-tabs > li > a {
	min-width: 31px;
	padding-left: 5px;
}
