@charset "utf-8";

/* header */
.header{margin:0px auto; }
.header .top{ text-align:right; position:relative; z-index:1; _height:20px;}
.header .float-msg{ position:absolute; top:21px; width:300px; text-align:left; border:1px solid #c1c1c1; background:#fff; z-index:98; font-family:Arial, Helvetica, sans-serif;}
.header .div-content{ padding:5px; word-wrap: break-word; break-word: break-all;}
.header .text-message{ position:absolute; right:-1px; cursor:pointer; top:-20px;  display:block; width:100px; text-align:right; height:20px; line-height:18px; color:#FF8027;  text-align:right;}
.header .text-message span{border-style:solid; border-color:#c1c1c1; background:#ffffff; border-width:1px 1px 0 1px; padding:3px 5px;}
.header .float-title{ background:#eeeeee; padding:8px 0px 8px 15px; font-weight:bold;}
.header .float-msg .new-answer-list ul{ padding:5px 0px;}	
#showNew{ margin-right:6px;}

.header .login-msg{ margin-right:8px; background:#f0f1f2; border:1px solid #FFF; padding:4px 10px; line-height:21px; border-radius:3px;}
.header .header-box{ padding:5px 0px; }
.header .tab{ width:680px; float:right; position:relative; margin-right:18px; height:45px; background:url(../images/head-tab-bg.jpg) repeat-x;}
.header .tab .tab-left{ display:block; width:17px; height:45px; position:absolute; left:-17px; background-position:left top;}
.header .tab .tab-right{display:block; width:17px; height:45px; position:absolute; right:-17px; background-position:-18px top}
.header .search-box{ background-position:left -58px; margin-top:5px; padding:4px 0 6px 10px;  width:210px; float:right;}
.header .search-box form {padding: 0px;margin: 0px;}
.header .search-button{ width:16px; height:14px; border:0px; margin-top:-4px; cursor:pointer; background-position:left -96px;}
.header .search-input{ width:173px; border:0px;}
.header .hd-tab{ padding:11px 0px; margin:0px; width:445px;  line-height:normal;}
.header .hd-tab li{ list-style:none; display:inline; float:left; padding:0px 18px; background:url(../images/head-tab-line.png) no-repeat left 2px;}
.header .hd-tab li.first{ background:none;}
.header .hd-tab li a{ color:#ffffff; font-weight:bold; text-decoration:none; font-size:14px;}
.header .hd-tab li.current{}
.header .hd-tab li.current a{ display:block; width:70px; padding-top:4px; top:-3px; text-align:center; height:40px; background:url(../images/tab-current.png) no-repeat center top; position:relative; color:#ff8027;}

.tab-left, .tab-right, .header .search-box, .search-button{background-image: url("../images/pubic-bg.png");}
.tab-left,.tab-right,.header .search-box,.search-button,.blog-list li .close-span,.blog-icon,.orag-button span,.orag-button em,.gray-button span,.gray-button em,.whight-button span,.whight-button em,.anwser-icon,.upload-button,.red-button span,.radius-button span,.bg-avter,.error-msg,.ok-msg{ background-image:url(../images/pubic-bg.png);}

.class-icon,.attention-icon,.people-icon,.back-button,.extension-icon,.collect-icon,.delete-member,.update-member,.add-member,.update-icon,.span-button,.span-button span,.float-icon,.radius-bg-left,.radius-bg-right,.add-icon,.blog-big-icon,.anwser-big-icon,.li-comment-top-icon,.management-button,.blog-gray-icon,.answer-gray-icon,.date-gray-icon,.topic-gray-icon,.saima-gray-icon,.comment-gray-icon,.read-gray-icon,.zan-icon,.cai-gray-icon,.answer-gray-icon,.answer-gray-icon-1{ background-image:url(../images/circle-bg.png); background-repeat:no-repeat;}

.circle-manger,.circle-gz,.circle-add-gz,.text-member,.text-invt,.text-gz,.text-add-gz,.text-cacle,.group-gray-icon,.link-gray-icon,.send-blog-button,.send-answer-button,.add-circle,.add-circle-gray,.add-circle-text{background-image:url(../images/circle-main-bg.png?v=1); background-repeat:no-repeat;}

.flush-icon,.hot-icon,.more-icon,.new-answer-icon,.home-list .bg-avter,.creat-circlem-button,.come-circlem-button,.new-blog-list .blog-list li,.activation-button,.org-more-icon{ background-image:url(../images/home-bg.png); background-repeat:no-repeat;}
.right-menu a,.jing-icon,.blue-left i,.green-left i,.add-essence,.cancle-essence{ background-image:url(../images/message-bg.png); background-repeat:no-repeat;}
/* header-end */

/* footer-start */
.footer{ margin-top:40px; padding-top:10px; padding-bottom:10px; text-align:center; border-top:1px solid #cbcbcb;}
.footer a{ text-decoration:none; color:#666666;}
.footer b{ font-weight:normal; padding:0px 8px; color:#999999;}
.footer div{ padding-top:10px; color:#999999;}
.footer .ft-black{ color:#000000;}
/* footer-end */

.page{height:35px; padding:0px; margin-top:25px; font-family:Arial, Helvetica, sans-serif; color:#666;}
.page ul{ float:right; height:22px; margin:0px; padding:8px 0px 0;}
.page ul li{margin:0px 2px; display:inline; float:left; }
.page ul li a{text-decoration:none; padding:1px 6px 2px 6px; line-height:18px; float:left; border:1px solid #d6d6d6; background:#FFFFFF; color:#724a78;}
.page ul li.current a{ border:0; background:none; color:#945333; font-weight:900; }

.page ul li a:hover {background-color: #fff; color: #f97e17;}

.class-icon,.attention-icon{ padding:2px 7px;}
.class-icon{ background-position:-180px -53px;}
.attention-icon { background-position: -182px -80px;}
.zan-icon{ background-position:-111px -279px;padding:3px 0 3px 13px;}

/* public css*/
.title1 {font-size:16px;}
.small-title{border-bottom: 1px solid #ccc;line-height: 30px}

/* ol, ul, li { list-style: none; padding: 0px; margin: 0px;} */
ol, ul, li { padding: 0px; }

/* pob:start */
.pob-box{ border:4px solid #dddddd; z-index:999; position:absolute;   min-width:300px; background:#ffffff;}
.pob-box .pb-title{ height:38px; line-height:38px; color:#ffffff; font-size:14px; padding-left:15px; background:url(../images/pob-title-bg.jpg) repeat-x; font-weight:bold;}
.pob-box .pb-close{ display:block; width:12px; height:12px; float:right; margin-right:10px; margin-top:12px; background:url(../images/pb-close.png) no-repeat; cursor:pointer; text-decoration:none;}
.pob-box .pob-content{ padding:10px 20px 16px; font-size:12px}
.chexiao{ line-height:21px; text-decoration:none; color:#666; position:relative; top:-10px; margin-right:10px}
.pob-box .pob-content button{ _margin-left:20px;}
.line-21{ line-height:21px;}
/* pob:end */

/* homemidder-start */
.home-middle-box{ margin:20px auto 0px; width:1000px; height:127px; background:url(../images/index-middle-min.jpg) no-repeat center top;}
.home-middle-box p{  font-family:Arial, Helvetica, sans-serif; color:#666666; margin:0px; padding:40px 75px 0px; line-height:25px;}
.home-middle-box .fr{ display:block; width:255px; line-height:18px; padding-top:30px; margin-left:40px;}
/* homemidder-end */
.activation-button{ display:block; width:198px; height:45px; background-position:left -154px;}
.activation-button:hover{ background-position:left -208px;}

.article-icon{background: url(../images/article_icon.png) no-repeat center top;padding: 0 0px 0 15px;}
.qa-icon{background: url(../images/qa_icon.png) no-repeat center top;padding: 0 5px 0 15px;}

.hit_ico {background: url(../images/hitcount.png) no-repeat center top;padding: 0 15px 0 10px;}

.scroll-top{ background:url(../images/top.png) no-repeat; width:22px; height:70px; position:fixed; _position:relative; bottom:150px; cursor:pointer;}

.link:hover{background-color: #fff; color: #f97e17 !important;text-decoration:none;}
.ico_reply{
  background:url(../images/reply_ico_new.png) no-repeat;
  height:16px;
  width:16px;
  padding-left:22px;
}
.ico_read{
  background:url(../images/read_ico_new.png) no-repeat;
  height:16px;
  width:16px;
  padding-left:22px;
}

.ico_good{
  background:url(../images/good_ico_new.png) no-repeat;
  height:16px;
  width:16px;
  padding-left:22px;
  }

.article_gray_ico{background:url(../images/article_gray_ico.png) no-repeat; height:16px; width:16px; padding-left:22px;}
.qa_gray_ico{background:url(../images/qa_gray_ico.png) no-repeat; height:16px; width:16px; padding-left:22px;}
.group_gray_ico{background:url(../images/group_gray_ico.png) no-repeat; height:16px; width:16px; padding-left:22px;}
.article_black_ico{background:url(../images/article_black_ico.png) no-repeat; height:16px; width:16px; padding-left:22px;}
.qa_black_ico{background:url(../images/qa_black_ico.png) no-repeat; height:16px; width:16px; padding-left:22px;}
.article_blue_ico{background:url(../images/article_blue_ico.png) no-repeat; height:16px; width:16px; padding-left:22px;}
.qa_blue_ico{background:url(../images/qa_blue_ico.png) no-repeat; height:16px; width:16px; padding-left:22px;}
.answer_gray_ico{background:url(../images/answer_gray_ico.png) no-repeat; height:16px; width:16px; padding-left:22px;}
.have_msg_ico{background:url(../images/have_msg.png) no-repeat; height:20px; width:16px; padding-left:22px;padding-top: 5px}
.head_help_ico{background:url(../images/head_help_ico.png) no-repeat; height:20px; width:16px; padding-left:22px;padding-top: 2px}

.read-gray-icon{ background-position:-141px -260px; _background-position:-141px -258px;padding:3px 13px;}

.refer_ico{background-color: green;padding: 0 2px;color: white;}
.jian_ico{background-color: #ff8027;padding: 0 2px;color: white}
.mi_ico{background-color: #ff2f0f;padding: 0 2px;color: white}

#wypl{border-top: 1px solid #FF8027;padding-top: 5px}

.gray-bg-title{ background:#e9ecee; padding:8px 0px 8px 10px; color:#535353; font-size:14px; margin:20px 0px; font-weight:bold;}
.gray-bg-title a,.gray-bg-title a.ft-org{ font-weight:normal;}
.gray-bg-title i.fr{ margin-right:10px; margin-top:-2px;}
.gray-bg-title .span-gray{  font-size:12px; font-weight:normal; color:#999999}
.brder-title{padding:8px 0px 8px 20px; color:#535353; font-size:14px; margin:20px 0px; font-weight:bold;}
.gray-bg-title .span-hot{ position:relative; top:-1px; margin-right:10px; padding:1px 3px;}
.gray-bg-title .page{ margin-top:0px; margin-right:8px;}

.container{word-break:break-all;}

.aritcle-statistics .replay_ico { background-image:url(../images/replay_ico.png);background-repeat:no-repeat;padding: 0px 10px;}
.aritcle-statistics .good_ico { background-image:url(../images/good_ico.png);background-repeat:no-repeat;padding: 1px 10px;}
.store_ico { background-image:url(../images/store_ico.png);background-repeat:no-repeat;padding: 1px 10px;}


.statistics-msg span{ float:left; border-left:1px solid #dddddd; padding-right:15px; padding-left:10px;}
.statistics-msg span em{ padding:5px 0px; font-size:12px; font-style:normal; }
.statistics-msg span .ft-org{font-weight:bold;}
.statistics-msg span.first-noline{ border-left:0px;}


.normal {font-weight: normal}
.thick {font-weight: bold}
.thicker {font-weight: 900}

.fr {float: right;}
.fl {float: left;}
.tr {text-align: right;}
.tl {text-align: left;}
.tc {text-align: center;}
.ft-org{ color:#ff8027;}
.ft-red{ color:#ff0000;}
.ft-gray{ color:#999999;}
.ft-ddd{ color:#dddddd;}
.ft-black{ color:#535353;}
.ft-white { color: #FFFFFF;}
.ft-10{ font-size:10px;}
.ft-11{ font-size:11px;}
.ft-12{ font-size:12px;}
.ft-14{ font-size:14px;}
.ft-16{ font-size: 16px;}
.ft-18{ font-size: 18px;}
.ft-20{ font-size: 20px;}
.ft-24{ font-size: 24px;}
.mb-0{ margin-bottom:0px;}
.mb-5{ margin-bottom:5px !important;}
.mb-10{ margin-bottom:10px;}
.mb-30{ margin-bottom:30px;}
.mt-f10{ margin-top:-10px !important;}
.mt-0{ margin-top:0px !important;}
.mt-5{ margin-top:5px;}
.mt-10{ margin-top:10px;}
.mt-20{ margin-top:20px;}
.pl-10{ padding-left:10px;}
.pl-75{ padding-left:75px;}
.pb-0{padding-bottom: 0px}
.pb-20{ padding-bottom:20px;}
.pt-0{ padding-top:0px !important;}
.pt-5{ padding-top:5px;}
.pt-10{ padding-top:10px;}
.pt-20{ padding-top:20px;}
.pl-140{ margin-left:140px;}
.pr-15{padding-right: 15px}
.mr-5{ margin-right:5px;}
.ml-10{ margin-left:10px;}
.ml-20{ margin-left:20px;}
.mr-10{ margin-right:10px;}
.mr-15{ margin-right:15px;}
.mr-18{ margin-right:18px;}
.mr-20{ margin-right:20px;}
.mr-70{ margin-right:70px;}
.wid-50{ width:50px;}
.wid-180{ width:180px;}
.wid-245{ width:245px;}
.wid-260{ width:260px;}
.wid-290{ width:286px;}
.wid-300{ width:300px;}
.wid-400{ width:400px;}
.wid-455{ width:455px;}
.wid-480{ width:480px;}
.wid-535{ width:534px;}
.wid-545{ width:545px;}
.wid-610{ width:610px;}
.wid-675{ width:675px;}
.wid-em100{ width:100%;}
.fb-900{font-weight:600;}

.pob-msg-box{ min-width:60px; position:absolute; z-index:9999; background:url(../images/msg-box.jpg) no-repeat left top; padding-left:50px;}
.pob-msg-box-error{ background:url(../images/msg-error-box.jpg) no-repeat !important;}
.pob-msg-box .msg-right-box{ background:url(../images/msg-box.jpg) no-repeat 100% top; height:51px; font-size:16px; font-weight:bold; color:#606060; line-height:50px; padding-right:15px; float:left;}

#wmd-editor .icon-link,
#wmd-editor .icon-blockquote,
#wmd-editor .icon-code,
#wmd-editor .icon-bullet-list,
#wmd-editor .icon-list,
#wmd-editor .icon-header,
#wmd-editor .icon-hr-line,
#wmd-editor .icon-undo {
  background-image: url(../images/markdown/Markdown.Editor.Icons.png);
}
#wmd-editor .icon-link {
  background-position: 0      0;
}
#wmd-editor .icon-blockquote {
  background-position: -24px 0;
}
#wmd-editor .icon-code {
  background-position: -48px 0;
}
#wmd-editor .icon-bullet-list {
  background-position: -72px 0;
}
#wmd-editor .icon-list {
  background-position: -96px 0;
}
#wmd-editor .icon-header {
  background-position: -120px 0;
}
#wmd-editor .icon-hr-line {
  background-position: -144px 0;
}
#wmd-editor .icon-undo {
  background-position: -168px 0;
}

#wmd-editor .btn-toolbar {
    margin-top: 0px;
}

#cheatTips {
	width: 850px;
	margin: 0px;
	max-height: 700px;
}

#cheatTips .modal-body .well {
	padding: 5px;
}

#cheatTips h1,#cheatTips h2,#cheatTips  h3,#cheatTips  h4,#cheatTips  h5,#cheatTips  h6 {
	margin: 0;
}

.detail .row .ks-editor-post, .detail .row .ks-editor-post p {
  font-family: tahoma, Arial, '微软雅黑';
}

.detail .row .ks-editor-post, .detail .row .ks-editor-post p {
  font:14px/1.5 tahoma,arial,'微软雅黑';
}

.detail .ks-editor-post .dp-highlighter {
  width: 650px !important;
}

.detail .row .md-editor-post, .detail .row .md-editor-post p {
  font-family: tahoma, Arial, '微软雅黑';
}

.detail .row .md-editor-post, .detail .row .md-editor-post p {
  font:14px/1.5 tahoma,arial,'微软雅黑';
  margin: 0 0 15px;
}

.detail .md-editor-post .dp-highlighter {
  width: 650px !important;
}

.detail .syntaxhighlighter td.gutter {
  min-width: 2.5em;
}

.popover-title {display: none}

.light-gray {
	color: #ccc;
}

a.nav-tag, a.deletable-nav-tag  {
	display: inline-block;
	width: auto;
	height: 19px;
	overflow: hidden;
	padding: 0 0 0 20px;
	background: url("../images/tag_bg.png") no-repeat 0 0;
	color: #b77b1b;
	line-height: 19px;
	font-weight: normal;
	font-size: 12px;
	text-decoration: none;
	cursor: pointer;
	vertical-align: middle;
}

a.nav-tag span, a.deletable-nav-tag span {
	display: inline-block;
	width: auto;
	height: 19px;
	overflow: hidden;
	padding: 0 10px 0 0;
	background: url(/images/tag_bg.png) no-repeat right -19px;
}

a.nav-tag:hover, a.nav-tag.nav-active
{
	background-position: 0 -38px;
	color: #fff;
	text-decoration: none;
}
a.nav-tag:hover span, a.nav-tag.nav-active span
{
	background-position: right -57px;
}


.nav-tag-list .nav-tag, .nav-tag-list .deletable-nav-tag {
	margin: 0 5px 0 0;
	vertical-align: middle;
}

a.deletable-nav-tag:hover
{
	background-position: 0 -76px;
	color: #fff;
	text-decoration: none;
}
a.deletable-nav-tag:hover span
{
	background-position: right -95px;
}

.J-loading-large {
	text-align: center;
}

.J-Question-Mark {
	vertical-align: baseline;
}

#recommendTag span {
	margin: 0 10px 5px 0;
}

.radio {cursor: pointer;}

ul.no-style-list li {
	list-style: none;
	margin: 0px;
}

.no-style-list {
	margin: 0px;
	padding: 0px;
}

.no-style-list.nav-tabs > li {
	margin-bottom: -1px;
}

ul.no-style-list li.mb-10 {
	margin-bottom: 10px;
}
.flexpaper_box{
width:702px;
height:500px;
overflow:hidden;
margin-top:5px;
margin-bottom:5px;
}

.layerout-box{line-height: 12px}

/* 覆盖kissy样式 开始 */

.ks-editor-img-setting {
    display: none !important;
}

.detail .ks-editor-post p {
    margin: 0 0 10px;
}

/* 覆盖kissy样式 结束 */

.span9 {margin-left: 13px !important}
.span3 {margin-left: 27px !important}


/*
.container .syntaxhighlighter .line .content {
    white-space: pre;
    word-break: normal;
    word-wrap: normal;
}
*/