/*ol,ul,li{ list-style:none; padding:0px; margin:0px;}*/

/* popLayer */
.popLayer{position:absolute;z-index:200;_height:0;}
	.popLayer .decor{_display:none;position:absolute;right:-2px;bottom:-2px;z-index:-1;width:100%;height:100%;background:#000;-moz-opacity:0.1;opacity:.10;filter:alpha(opacity=10);}
	.popLayer .content{position:relative;z-index:0;border:1px solid #669bb7;background:#fff;}
		.popLayer .head{overflow:hidden;padding:4px 5px 4px 10px;padding:5px 5px 3px 10px\9;border:1px solid #669bb7;border-color:#88b8d2 #88b8d2 #669bb7 #88b8d2;background:#669bb7;color:#fff;}
			.popLayer .head h4{float:left;margin:0;padding:0;border:0;}
			.popLayer .option{float:right;}
		.popLayer .body{padding:10px;}
		.popLayer .foot{position:relative;padding:7px 10px;border-top:1px solid #e0e0e0;background:#e6eff3;text-align:center;}
			.popLayer .foot .resize{right:0;bottom:0;cursor:s-resize;}

/* maskLayer */
.maskLayer{position:fixed;_position:absolute;top:0;left:0;z-index:3000;width:100%;height:100%;background:transparent;}
	.maskLayer iframe{/*display:none;_display:block;*/width:100%;height:100%;border:0;filter:mask();}
.maskIframe{overflow:hidden;position:absolute;width:100%;height:100%;border:0;filter:mask();}

/* tokenList */
ol.tokenList{
	height: 25px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	min-height:20px;_height:25px;margin:0 !important;padding:2px 3px 0;border:1px solid #bbb;background-color:#fff;line-height:18px;list-style:none !important;cursor:text;zoom:1;}
ol.tokenList:after{content:'\0020';display:block;clear:both;height:0;}
	ol.tokenList li{float:left;padding:0 4px 2px 0;}
		ol.tokenList li a{display:block;float:left;border:1px solid #c3b2a5;border-width:1px 0;background:#e6eff3;color:#20536f;text-decoration:none;}
			ol.tokenList li a span{display:block;float:left;height:15px;margin:0 -1px;padding:0 5px 1px 5px;*padding:1px 5px 0 5px;border:1px solid #c3b2a5;border-width:0 1px;line-height:15px;white-space:nowrap;cursor:pointer;}
			ol.tokenList li a .x{display:-moz-inline-stack;display:inline-block;_display:inline;width:7px;height:7px;margin:0 0 0 3px;font:0/0 sans-serif;background:url(../images/selectorDel.gif) no-repeat 0 0;vertical-align:middle;cursor:pointer;zoom:1; padding:0; float:none; text-align:center;}
			ol.tokenList li input{width:20px;height:16px;line-height:16px;margin:0;padding:0;border:0;outline:0;}
		ol.tokenList li a:hover,
			ol.tokenList li a:hover span{border-color:#669cb6;background-color:#e6eff3;color:#669cb6;text-decoration:none;}
			ol.tokenList li a:hover .x{background-position:0 -7px;}
			ol.tokenList li a:hover .x:hover{background-position:0 -14px;}
	ol.tokenList li.on{}
		ol.tokenList li.on a,
		ol.tokenList li.on a:hover,
			ol.tokenList li.on a span,
			ol.tokenList li.on a:hover span{border-color:#669cb6;background-color:#669cb6 !important;color:#fff;}
			ol.tokenList li.on a .x,
			ol.tokenList li.on a:hover .x{background-position:0 -21px;}
			ol.tokenList li.on a:hover .x:hover{background-position:0 -28px;}
	ol.tokenList li.blank{color:#999;}

	/* hack for IE6 */
* html ol.tokenList{padding:2px 2px 0;}
	* html ol.tokenList li{padding:0 2px 2px 0;}
		* html ol.tokenList li a{padding:0 0 0 1px;border:0;}
			* html ol.tokenList li a span{margin:0;padding:3px 6px 0 5px;border:0;background:#e6eff3;}
		* html ol.tokenList li a:hover{background-position:0 -20px;}
			* html ol.tokenList li a:hover span{background-position:100% -20px;}
	* html ol.tokenList li.on{}
		* html ol.tokenList li.on a{background-position:0 -40px;}
			* html ol.tokenList li.on a span{background-position:100% -40px;}

/* selector */
.selector{display:inline-block;*display:inline;z-index:100;width:360px;line-height:18px;text-align:left;vertical-align:middle;zoom:1;}
.selector,.selector:-moz-any-link{display:block;}
.selector,.selector:default{display:inline-block;}
	.selector a{outline:none;}
	.selector ol.tokenList{position:relative;}
	.selector .toggle{display:none;}
	.selector .dropWrap{left:0;width:100%;zoom:1;}
		.selector .dropWrap .popLayer{width:100% !important;}

.selector-toggle{}
	.selector-toggle .toggle{display:block;overflow:hidden;position:absolute;right:1px;bottom:1px;z-index:2;width:21px;height:22px;background:#fff url(i/selectorToggle.gif) no-repeat 50% -48px;text-indent:-9999px;cursor:pointer;}
		.selector-toggle .toggle:hover{border:1px solid #bbb;border-width:1px 0 0 1px;background-color:#ccc;background-position:50% -72px;}
	.selector-toggle .toggle-on{border:1px solid #bbb;border-width:1px 0 0 1px;background-color:#ccc;background-position:50% -24px;}
		.selector-toggle .toggle-on:hover{background-position:50% 0;}
	/*.selector-toggle ol.tokenList{padding-right:22px;}*/
	.selector-toggle .slctrTgLayer{display:none;position:absolute;top:100%;right:0;width:360px;margin:-1px 0 0;}
		.slctrTgLayer .maskIframe{height:218px;}
		.slctrTgLayer .content{border-color:#b0c0c8;}
			.slctrTgLayer .head{background:#d7e5ec;border-color:#e7eff3 #d7e5ec #a8bfca #e7eff3;}
				.slctrTgLayer .head h4{padding:2px;color:#666;font-weight:400;}
				.slctrTgLayer .head h4 input{margin-right:6px;}
				.slctrTgLayer .head .option select{width:80px;}
			.slctrTgLayer .body{overflow-x:hidden;overflow-y:auto;height:130px;padding:7px;}
				.slctrTgLayer .radios li,
				.slctrTgLayer .checkboxes li{width:33%;padding:0 0 3px;border-bottom:1px solid #eee;text-align:left;text-indent:3px;}
				.slctrTgLayer .listEmpty{padding:50px 20px;}
			.slctrTgLayer .foot{padding:6px 0 7px;background:#e6eff3;}

	/* Hack: selector with other element in one line */
dl.fieldset dd .selector{display:block;_display:inline;float:left;margin:0 5px 0 0;}

/* friendSelector */
.friendSelector{position:relative;width:498px;border:1px solid #fff;background:#fff;zoom:1;}
	.fsFinder{position:relative;z-index:3;padding:7px 14px;background:#e9eef2;zoom:1;}
	.fsFinder:after{content:'\0020';display:block;clear:both;height:0;}
		.fsFinderSearch{float:left;}
		.fsFinderSelect{float:right;}
	.fsTips{position:relative;z-index:2;margin:7px 14px;}
	.fsSelectWrap{overflow-x:hidden;overflow-y:scroll;position:relative;z-index:1;height:319px;margin:7px 14px 14px;border:1px solid #ddd;zoom:1;}
		.fsFriends{margin:0 !important;padding:5px 10px 10px;list-style:none !important;zoom:1;}
		.fsFriends:after{content:'\0020';display:block;clear:both;height:0;}
			.fsItem{float:left;padding:10px 9px;border-bottom:1px dotted #ccc;text-align:center;}
				.fsItem a{display:block;overflow:hidden;position:relative;width:60px;height:84px;padding:0 4px;outline:none;background:#fff;color:#666;cursor:pointer;}
					.fsAvatar{display:block;overflow:hidden;position:relative;z-index:1;width:48px;height:48px;padding:10px 6px 5px;}
						.fsAvatar img{width:48px;height:48px;padding:0;border:0;background:none;}
					.fsName{display:block;overflow:hidden;position:relative;z-index:3;width:100%;height:20px;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap\9;}
					.fsStatus{display:block;position:absolute;top:0;left:0;z-index:2;width:68px;height:84px;}
				.fsItem a:hover{background:#d4e2eb;text-decoration:none;}
					.fsItem a:hover .fsStatus{background-position:-100px 0;}
			.fsItem-selected{}
				.fsItem-selected a{background:#5b92b0;color:#fff;}
					.fsItem-selected a .fsStatus,
					.fsItem-selected a:hover .fsStatus{background-position:-200px 0;}
			.fsItem-disabled{}
				.fsItem-disabled a{color:#aaa;-moz-opacity:0.4;opacity:.40;filter:alpha(opacity=40);cursor:default;}
					.fsItem-disabled a .fsStatus,
					.fsItem-disabled a:hover .fsStatus{background-position:-300px 0;}

/* dropWrap */
.dropWrap{display:block;overflow:visible;position:relative;z-index:1000;clear:both;width:0;height:0;}

/* ul.dropList */
ul.dropList{margin:0 1px;list-style:none;background:#fff;}
	ul.dropList li{overflow:hidden;margin:1px 0;padding:3px 5px;border-bottom:1px solid #e7e7e7;color:#666;text-decoration:none;line-height:1.2em;white-space:nowrap;cursor:pointer;zoom:1;}
	ul.dropList li.on{background-color:#669cb6;color:#fff;cursor:pointer;}
		ul.dropList li.on .meta{color:#ccc;}
	ul.dropList li.default{border:0;cursor:default;}
	ul.dropList li.end{border:0;}
	/*highlight*/
		ul.dropList li em{padding:0 1px;font-style:normal;font-weight:bold;background:#ff9;color:#333;}
		ul.dropList li.on em{background:#f38309;color:#ff9;}

/* ul.checkList */
ul.checkList{margin:0 1px;list-style:none;background:#fff;}
	ul.checkList li{overflow:hidden;margin:1px 0;border-bottom:1px solid #e7e7e7;}
		ul.checkList li a{display:block;overflow:hidden;width:100%;height:16px;padding:2px 0 2px 0;padding:4px 0 0 0\9;_padding:2px 0 2px 0;background:none;color:#999;line-height:16px;text-align:left;text-indent:18px;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;}
		ul.checkList li a:hover{background-color:#9cb8cd;color:#fff;text-decoration:none;}
		ul.checkList li.on a{background-position:0 0;background-repeat:no-repeat;cursor:pointer;}
		ul.checkList li.on a:hover{background-position:0 -40px;}
	ul.checkList li.end{border:0;}
	
.t-loading { background: url(../images/loadding_up.gif) no-repeat center right; }